/* SNAKE AND FOOD */

.snake {
    background: linear-gradient(45deg, #f5d38c, hsl(39, 65%, 65%));
    border: 1px solid #e0b76b;
    border-radius: 60%;
    margin: auto;
    height: 60%;
    width: 60%;
}

.snake.head {
    background-color: var(--snake);
    border-radius: 50%;
    width: 80%;
    height: 80%;
}

.food {
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
}

[data-sprite="noodleBowl"] {
    background-image: url('../assets/imgs/noodleBowl.png');
}

[data-sprite="egg"] {
    background-image: url('../assets/imgs/egg.png');
}

[data-sprite="chili"] {
    background-image: url('../assets/imgs/chili.png');
}

[data-sprite="tempura"] {
    background-image: url('../assets/imgs/tempura.png');
}

[data-sprite="pakChoi"] {
    background-image: url('../assets/imgs/pakChoi.png');
}