/* SNAKE AND FOOD */

.snake {
    background: linear-gradient(45deg, #f5d38c, #e0b76b);
    border: 1px solid #e0b76b;
    border-radius: 50%;
    margin: auto;
    height: 60%;
    width: 60%;
}


.snake.head {
    animation: none;
    background: var(--snake); 
    width: 80%;
    height: 80%;
    margin: auto;
    border-radius: 50%;
}

.food {
    /* generic food cell styling; the actual image is chosen by data-sprite */
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
}

/* sprite-specific backgrounds (add more as needed) */
[data-sprite="noodleBowl"] {
    background-image: url('../assets/imgs/noodleBowl.png');
}

[data-sprite="egg"] {
    background-image: url('../assets/imgs/egg.png');
}

[data-sprite="chili"] {
    background-image: url('../assets/imgs/chili.png');
}

[data-sprite="tempura"] {
    background-image: url('../assets/imgs/tempura.png');
}

[data-sprite="pakChoi"] {
    background-image: url('../assets/imgs/pakChoi.png');
}