* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #0e0e0e;
    --white: #f3f3f3;
    --primary: #23456f;
    --secondary: #b8d8f7;
    --noodle: #f5d38c;
    --cell-size: 25px;
    --cols: 35;
    --rows: 22;
}

/* TYPO START */
    h1 {
        font-size: 3em;
    }

    p, h2 {
        color: var(--black);
    }

.gameDetails p {
    margin-right: 4em;
    font-size: 1.4em;
}
/* TYPO END */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--white);
    font-family: 'asimovian';
}

.container {
    padding: 1em;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 15% 76% 9%;
    gap: 0.5em;
    border: 2px solid black;
    border-radius: 10px;
    width: 90%;
    max-width: 1200px;
    background-color: var(--secondary);
    justify-items: center;
    justify-content: center;
}

.wrapper {
    grid-column: 1;
    margin-top: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    max-width: min(90vmin, 800px);
    background-color: var(--primary);
    border: 2px solid var(--black);
    border-radius: 5px;
    box-shadow: 1px 1px 10px var(--black);
}

.gameDetails {
    padding-left: 1.5em;
    grid-column: 1;
    grid-row: 3;
    display: flex;
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 500;
}

.playBoard {
    display: grid;
    grid-template-columns: repeat(var(--cols), 1fr);
    grid-auto-rows: 1fr;
    width: 100%;
    max-width: 100%;
    background-color: var(--primary);
}

.cell {
    border: 1px solid var(--black);
    width: 100%;
    aspect-ratio: 1 / 1;
}

.controlBtns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    width: 10em;
    height: 3em;
    margin: 0.5em 0.7em;
    background-color: var(--noodle);
    color: var(--black);
    font-weight: 600;
    font-size: 1em;
    border-radius: 10px;
    box-shadow: 1px 1px 5px var(--black);
}

#joinID {
    height: 2.5em;
    width: 87%;
    border-radius: 10px;
    padding: 10px;
}



/* Overlay */
#gameOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

